<div class="container">
  <div class="grid">

    <div class="col-12">
      <h1>Minhas Compras</h1>
    </div>

    <div class="col-12 p-fluid">
      <label class="block">Descrição</label>
      <input pInputText type="text">
    </div>

    <div class="col-12">
      <label class="block">Período da compra</label>
      <input pInputText type="text" style="width: 95px">

      <label class="label">até</label>
      <input pInputText type="text" style="width: 95px">
    </div>

    <div class="col-12">
      <button pButton type="submit" label="Pesquisar"></button>
    </div>

  </div>

  <div class="grid">
    <div class="col-12">
      <p-table [value]="compras" [paginator]="true" [rows]="3" [responsive]="true">
        <ng-template pTemplate="header">
          <tr>
            <th>Vendedor</th>
            <th>Produto</th>
            <th>Descrição</th>
            <th class="col-data-header">Data da Compra</th>
            <th class="col-data-header">Data da Entrega</th>
            <th class="col-valor-header">Valor</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-compra>
          <tr>
            <td>
              <span class="p-column-title">Vendedor</span>
              {{ compra.vendedor }}
            </td>
            <td>
              <span class="p-column-title">Vendedor</span>
              {{ compra.nome }}
            </td>
            <td>
              <span class="p-column-title">Descrição do material</span>
              {{ compra.descricao }}
            </td>
            <td class="col-data-content">
              <span class="p-column-title">Data da Compra</span>
              {{ compra.dataCriacao }}
            </td>
            <td class="col-data-content">
              <span class="p-column-title">Data da Entrega</span>
              {{ compra.dataEntrega }}
            </td>
            <td class="col-valor-content" [style.color]="compra.tipo === 'DESPESA' ? 'red' : 'blue'">
              <span class="p-column-title">Valor</span>
              {{ compra.preco }}
            </td>
            <td class="col-acoes">
              <a pButton icon="pi pi-pencil" pTooltip="Editar" tooltipPosition="top"></a>
              <button pButton icon="pi pi-trash" pTooltip="Excluir" tooltipPosition="top"></button>
              </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>


</div>
